<div class="center">
  <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)">
    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
      <div class="files-upload-text-and-actions">
        <div class="upload-text">
          Drag and Drop you files here:
        </div>
        <button type="button" class="btn browse-button" (click)="openFileSelector()">
          Browse Files
        </button>
      </div>
    </ng-template>
  </ngx-file-drop>
</div>
