<div class="container">
  <h4>Create New Work Item</h4>
  <form [formGroup]="createWorkItemForm" (ngSubmit)="createWorkItem()">
    <div class="row">
      <div class="col-12 col-sm-8">
        <div class="form-group">
          <input
            formControlName="title"
            [(ngModel)]="title"
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            name="title"
            placeholder="Work item title"
          />
        </div>
        <div class="invalid-input invalid-input-top">
          <span
            *ngIf="
              this.createWorkItemForm.controls.title.invalid
              && this.isSubmitted"
          >
            Title is required!
          </span>
        </div>
        <div class="form-group">
          <textarea [froalaEditor]="options" formControlName="editorModel" class="froala"></textarea>
          <div class="invalid-input">
            <span
              *ngIf="
                this.createWorkItemForm.controls.editorModel.invalid
                && this.isSubmitted"
              class="invalid-input"
            >
              Description is required (at least 10 characters)!
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="form-group">
          <div class="btn-group  w-100" ngbDropdown role="group" aria-label="Button group with nested dropdown">
            <button type="button" #ref class="btn btn-outline-primary" ngbDropdownToggle>
              {{ this.chosenTeam.teamName }}
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button type="button" *ngFor="let team of this.userTeams" ngbDropdownItem (click)="changeTeam(team, ref)">
                {{ team.teamName }}
              </button>
            </div>
          </div>
          <div class="invalid-input invalid-input-bottom">
            <span *ngIf="this.isSubmitted === true && !this.chosenTeam.rules" class="invalid-input-bottom">
              Team is required!
            </span>
          </div>
        </div>
        <div class="form-group">
          <app-typeahead-input
            [fc]="createWorkItemForm.get('reviewer')"
            label="Search for reviewers:"
            [searchFunc]="search"
            [formatter]="formatter"
          ></app-typeahead-input>
          <div class="invalid-input">
            <span
              *ngIf="
                this.isSubmitted === true
                && this.chosenTeam.rules
                && this.notEnoughReviewersAdded()"
              class="invalid-input"
            >
              You need at least {{ this.chosenTeam.rules.minNumberOfReviewers }} reviewers!
            </span>
          </div>
          <button type="button" class="btn btn-success add-button" (click)="addUsername()">
            Add
          </button>

          <reviewer-item
            *ngFor="let currentReviewer of addedUsernames"
            [reviewer]="currentReviewer"
            (removeUser)="removeReviewer($event)"
          >
          </reviewer-item>
        </div>
        <div class="form-group">
          <ng-multiselect-dropdown
            formControlName="tagControl"
            name="search-tag"
            [placeholder]="'Add tags'"
            [data]="tags"
            [(ngModel)]="selectedItems"
            [settings]="dropdownSettings"
          >
          </ng-multiselect-dropdown>
        </div>
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-success create-button" type="submit" name="submit">
        Create Work Item
      </button>
    </div>
  </form>
  <files-uploader (filesEmiter)="onFilesUpload($event)"></files-uploader>
  <div class="upload-table">
    <table class="table files-table" *ngIf="this.filesToShow()">
      <thead>
        <tr>
          <th>File Names:</th>
        </tr>
      </thead>
      <tbody class="upload-name-style">
        <tr *ngFor="let item of this.files">
          <td>
            <strong>{{ item.relativePath }}</strong>
          </td>
          <td>
            <button class="btn btn-danger" (click)="removeFile(item)" type="button">
              Remove file
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
