.add-button {
  width: 100%;
  margin-top: 5px;
}

.invalid-input-bottom {
  align-items: flex-end;
}

.invalid-input-top {
  align-items: flex-start;
}

.dropdown-menu, .create-button{
  width: 100%;
}
