.comment-form {
  border: 1px solid var(--color-repohead-border);
  border-radius: 4px;
}

.text-comment {
  display: block;
  width: 90%;
  max-width: 90%;
  min-height: 100px;
  line-height: 1.6;
  margin: 20px 10px 10px 10px;
  border-radius: 4px;
}

.btn {
  margin-left: 40px;
}

.form-check {
  margin-left: 40px;
}
